<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dark Souls 3 Level Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      const lowLevels = [
        '-',
        '673',
        '689',
        '706',
        '723',
        '740',
        '757',
        '775',
        '793',
        '811',
        '829',
        '847'
      ];
      const START_LEVEL_OF_FUNCTION = 13;
      const REQUIRED_SOULS_PREFIX = 'Required souls: ';

      const calculateSouls = (x) => 0.02 * Math.pow(x, 3) + 3.06 * Math.pow(x, 2) + 105.6 * x - 895;
      const format = (x) => Math.trunc(x).toLocaleString();
      const calculateSoulsFormat = (x) => format(calculateSouls(x));

      jQuery(function ($) {
        $('#input_level').on('input', function () {

          const providedLvl = parseInt($('#input_level').val());

          if (providedLvl < START_LEVEL_OF_FUNCTION) {
            $('#required_souls_for_level').text(REQUIRED_SOULS_PREFIX + lowLevels[providedLvl - 1]);
          } else {
            $('#required_souls_for_level').text(REQUIRED_SOULS_PREFIX + calculateSoulsFormat(providedLvl));
          }
        });

        const updateSoulsRequiredBetween = () => {
          const low = parseInt($('#input_level_low').val());
          const high = parseInt($('#input_level_high').val());

          if (isNaN(low) || isNaN(high) || (low >= high)) {
            $('#required_souls_between_levels').text("");
            return;
          }
          let sum = 0;
          for (let i = low; i <= high; i++) {
            if (i < START_LEVEL_OF_FUNCTION) {
              if (i === 1) {
                sum += 0
              } else {
                sum += parseInt(lowLevels[i - 1])
              }
            } else {
              sum += calculateSouls(i);
            }
          }

          $('#required_souls_between_levels').text(REQUIRED_SOULS_PREFIX + format(sum));
        }
        $('#input_level_low').on('input', function () {
          updateSoulsRequiredBetween();
        });
        $('#input_level_high').on('input', function () {
          updateSoulsRequiredBetween();
        });
      });
    </script>
</head>
<body>
<h1>Dark Souls 3 Level Calculator</h1>

<div>
    <div>
        <label for="input_level">Calculate souls required for level:</label>
        <input id="input_level" type="number" placeholder="e.g. 120" min="1" max="802">
    </div>
    <div>
        <p id="required_souls_for_level"></p>
    </div>
</div>

<div>
    <div>
        <label for="input_level_low">From level:</label>
        <input id="input_level_low" type="number" placeholder="e.g. 1" min="1" max="802">

        <label for="input_level_high">To level (inclusive):</label>
        <input id="input_level_high" type="number" placeholder="e.g. 13" min="1" max="802">
    </div>
    <div>
        <p id="required_souls_between_levels"></p>
    </div>
</div>
</body>
</html>